// Typography
$font-family-main: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-family-headings: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-size: 1.10em !default;

// Padding
$padding-large: 20% !default;
$padding-small: 4% !default;
$padding-x-small: 3% !default;

// Padding
$padding-x-large: 23%;
$padding-medium: 6%;
// Sepcific Padding
$title-padding: 1%;
$feature-image-padding: 10%;

// Mobile display
$xl-break: 2000px;
$l-break: 1400px;
$m-break: 1000px;
$break: 768px;
$sm-break: 576px;
$x-sm-break: 300px;

// Brand colours
$brand-color: #fff !default;
$background-color: #fff !default;
$border-color: rgba(0, 0, 0, 0.1) !default; // rgba recommended if using feature images

// Typography colours
$text-color: #383838 !default;
$link-color: #1ABC9C !default;
$selection-color: #D4D4D4 !default; // visible when highlighting text
$blockquote-color: #EEF7FA; // $background-color;
$meta: #595959; //lowest gray for accessible color

// Tags color
$tags-color: #b0b0b0 !default;

//Search color
$search-color: #999 !default;

// Header colours
$header-link-color: #383838 !default;

// Feature image for articles
$feature-image-text-color: #fff !default;
$feature-image-size: auto !default; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #1ABC9C !default;
$header-desc-text-color: #FFF !default;
$header-desc-link-color: #02453D !default;
